.download{
    background-color: #EFC501;
    padding: 128px 0 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &__header{
        font-size: 62px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    &__images{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 125px;
        
        img{
            width: 15%;
        }

        &-box{
            width: 15%;

            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .download{
        padding: 64px 32px 80px;
        gap: 32px;

        &__header{
            font-size: 40px;
            text-align: center;
        }

        &__images{
            gap: 30px 43px;
            flex-wrap: wrap;
            
            &-box{
                width: 30%;
                display: flex;
                justify-content: center;

                &:first-of-type{
                    width: 100%;

                    img{
                        width: 30%;
                    }
                }
            }
            
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 430px) {
    .download{
        padding: 32px 20px;
        gap: 30px;

        &__header{
            font-size: 40px;
            text-align: center;
        }

        &__images{
            gap: 30px 43px;
            flex-wrap: wrap;
            
            &-box{
                width: 100%;

                &:first-of-type{
                    width: 100%;

                    img{
                        width: 55%;
                    }
                }
            }
            
            img{
                width: 55%;
            }
        }
    }
}