.footer{
    background-color: #0578FF;
    color: white;
    font-family: "Poppins", sans-serif;

    &__top-box{
        height: 400px;
        display: flex;
        justify-content: center;
    }

    &__bottom-box{
        padding: 64px 64px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__list{
        :first-of-type{
            font-weight: bold;
            font-size: 20px;
        }
    }

    &__links{
        display: flex;
        
    }

    &__logo{
        height: 51px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 192px;

        &-item{
            cursor: pointer;

            &:hover{
                font-weight: bold;
            }
        }
    }

    &-item:first-of-type{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__date{
        padding:40px 64px 76px;
    }
}

.contacts{
    padding: 60px 0;
    text-align: center;
    background-color: white;
    color: black;
    width: 50%;
    border-radius: 16px;
    margin-top: -100px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);


    &__title{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 120%;
        padding: 10px 0;
    }

    &__text{
        font-size: 28px;

        &--extra-margin{
            margin-bottom: 8px;
        }

    }

    &__adress{
        margin-top: 30px;
        font-size: 18px;
        width: 40%;
        
        line-height: 27px;
    }
}

@media (max-width: 768px) {
    .footer{
        &__bottom-box{
            flex-direction: column;
            gap: 40px;
            padding: 64px 32px 0px;
            align-items: flex-start;
        }

        &__date{
            padding: 40px 32px 60px;
        }
    }

    .contacts{
        width: 65%;

        &__title{
            font-size: 40px;
        }

        &__text{
            font-size: 20px;
        }

        &__adress{
            width: 100%;
            font-size: 16px;
        }
    }
}


@media (max-width: 430px) {
    .contacts{
        width: 90%;
        }


    .footer{
        &__links{
            flex-wrap: wrap;
            gap: 24px;
            align-items: center;
            width: 100%;
        }

        &__list{
            width: calc(50% - 12px);
        }

        &__date{
            padding: 40px 20px 64px;
        }

        &__bottom-box{
            padding: 40px 20px 0px;
        }

    }
}