.gallery{
    padding: 128px 64px;
    background: linear-gradient( to top, #FFFFFF, #E1EEFD);
    
    &__header{
        font-size: 64px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 24px;
        
    }

    &__main{
        display: flex;
        gap: 32px;

    }

    &__left{
        width: 43.4%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        img{
            width: 100%;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        width: 56.6%;
        gap: 32px;

        &-top{
            display: flex;
            gap: 32px;
        }
    }

    &__image{
        &-top-left{
            width: calc(40% - 12px);
        }
        &-top-right{
            width: calc(60% - 12px);
        }
    }
}