.gallery{
    padding: 128px 64px;
    background: linear-gradient( to top, #FFFFFF, #E1EEFD);
    
    &__header{
        font-size: 64px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 24px;
        
    }

    &__main{
        display: flex;
        gap: 32px;

    }

    &__left{
        width: 43.4%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        img{
            width: 100%;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        width: 56.6%;
        gap: 32px;

        &-top{
            display: flex;
            gap: 32px;
        }
    }

    &__image{
        &-top-left{
            width: calc(40% - 12px);
        }
        &-top-right{
            width: calc(60% - 12px);
        }
    }
}

@media (max-width: 768px) {
    .gallery{
        padding: 128px 32px;
       
       
        &__main{
            flex-direction: column;
            gap: 24px
        }


        &__left, &__right{
            width: 100%;
        }   
    }

    }
@media (max-width: 430px) {
    .gallery{
        padding: 64px 20px;
        gap: 12px;

          &__main{
            flex-direction: column;
            gap: 12px
        }


        &__left, &__right{
            gap: 12px
        }  

        &-top-left{
            width: 100%;
        }  
        &-top-right{
            width: 100%;
        }
        
        
    }    
}