.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 64px 64px 128px;
    background: linear-gradient(to top, #E1EEFD, #FFFFFF);


    &__image{
        width: 48%;
    }

    &__title{
        font-size: 64px;
        font-weight: bold;
    }
    &__text{
        font-size: 16px;
        margin: 32px 0;
        
    }
    &__radio-btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 3px 24px;
        border-radius: 8px;
    }
    &__counter-box{
        display: flex;
        align-items: center;
        gap:2
    }
    &__btn-icon{
        width: 20px;
    }
    &__person-icon{
        width: 22px;
        margin-right: 3px;
    }
    &__counter-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: inherit;
    }
    &__counter{
        width: 20px;
        text-align: center;
    }
    &__block{
        display: flex;
        flex-wrap: wrap;
        gap: 24px 32px;
        padding-top: 24px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 16px;
        width: calc(50% - 16px);
        

        &-header{
            font-weight: bold;
        }
        
        &-input{
            padding: 16px 24px;
            height: 53px;
            border-radius: 8px;
            background-color: white;
            border: none;
            display: flex;
            align-items: center;
            gap: 12px;
            color: #90A3BF
        }

        &-input-date{
            border: none;
            outline: none;
            width: 100%;
        }
      }
      
      &__btn{
            padding: 20px 40px;
            background-color: #0578FF;
            width: 100%;
            padding: 16px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border: none;
            border-radius: 8px;
        }
    }

    @media (max-width: 768px) {
    .main{
        padding: 64px 32px 128px;

        &__image{
            display: none;
        }
        
    }

    }

    @media (max-width: 430px) {
    .main{
        padding: 24px 20px;

        &__title{
            font-size: 32px;
            font-weight: bold  ;
        }

        &__item{
            width: 100%;}
    }
    }